.header {
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--app-block-padding);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 5px;
    text-wrap: nowrap;
}

.menu ul li.active a {
    color: #D9DADC;
}

.menu-icon {
    display: none;
}

@media (max-width:500px) {
    .menu-icon {
        display: block;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        padding: var(--app-block-padding);
        background-color: black;
    }
    
    .menu ul {
        display: none;
        padding: 0;
    }

    .menu ul.mobile {
        display: block;
    }
    
    .menu ul li {
    padding: 10px 0;
}

.menu li.hidden-mobile {
    display: none;
}
}

