.hero-section {
    background-color: #1D75DE;
    height: 70vh;
    margin-top: 0;
    padding: 0 var(--app-block-padding);
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.text h2 {
    font-weight: 400;
}

.text h1 {
    font-size: 40px;
}
.button, .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
    font-weight: 500px;
}

.primary, .secondary {
    background-color: black;
    color: white;
    padding:15px 25px 15px 25px;
    border: transparent;
    border-radius: 20px; 
}

.secondary {
    background-color: transparent;
    border: 1px solid white;
}

.link a {
    color: white;
}

