.section {
    background-color: #EFEFEF;
    padding: 5%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.card, .discount {
    background-color:  white;
    width: 269px;
    max-width: 269px;
    padding: 10px 0;
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

.card span.free, .card span.one-time {
    background-color: #0D72EA;
    color: white;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.card span.one-time {
    background-color: white;
    color: #0D72EA;
    border: 1px solid #0D72EA;
}

.card h4.planName {
    color: black;
    font-size: 23px;
}

.header {
    margin: 0px 20px;
    border-bottom: 2px solid #ccc;
}

.content {
    padding: 10px;
    padding-bottom: 0;
    box-shadow: -8px 10px 12px #ddd;
}

.content ul {
    margin: 0;
    padding: 0 22px;
    height: 160px;
    list-style-image: url(../../assets/icons/check-mark.svg);
}

.content ul li {
    font-size: 16px;
    padding: 5px 10px;
    position: relative;
}

.content ul li p {
    margin: 0;
    margin-top: -4px;
    position: absolute;
}

.content .button {
    width: 100%;
    display: block;
    margin-top: 40px;
}

.footer {
    color: #535353;
    font-size: 12px;
    padding: 10px;
}

.footer a {
    padding: 20px;
    color: #535353;
    font-size: 12px;
}

.flex {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.title, .description {
    color: black;
    font-size: 38px;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 16px;
    padding: 14px 0;
}

.discount {
    max-width: none;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 10px;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    gap: 20px;
}

@media (max-width:768px) {
    .discount{
        justify-content: center;
        display: flex;
        text-align: center;
        gap: 10px;
        padding-bottom: 20px;
    }
}