.header {
  background: black;
}

.btn, .btn-outline, .btn-secondary, .facebook-login, .apple-login, .google-login {
  background-color: black;
  color: white;
  border: none;
  padding: 16px 35px;
  border-radius: 500px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  font-family: Helvetica;
  text-transform: uppercase;
}

.btn:hover {
  background-color:transparent;
  border: 2px solid white;
  transition: 0.2s;
}

.btn:active {
    background-color: black;
    border: none;
    transition: 0.4s;
}

.btn-outline:hover {
  background-color:black;
  border: none;
  transition: 0.2s;
}

.facebook-login, .apple-login, .google-login {
  background-color: #1877F2;
  color: white;
  padding: 93.64px, 12px;
}

.btn-secondary {
  background-color: #1ED760;
  color: black;
  letter-spacing: 1.5px;
  border: 1px solid white;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid white;
}

.btn-outline2 {
  background-color: transparent;
  color: #878787;
  border: 1px solid #6A6A6A;
}

.btn-invert {
  background-color: transparent;
  color: black;
}

.btn-outline.btn-invert {
  background-color: inherit;
  color: black;
  border: 2px solid black;
  font-weight: 500;
}

@media (max-width:500px) {
  .btn, .btn-outline {
      padding: 14px 20px;
      text-wrap: nowrap;
      font-weight: none;
      font-size: 11px;
      font-weight: 500;
  }
}

